.MyPageLayout {
  border: 1px solid #dddddd;
  /* margin: 10px auto 30px; */
  height: 120vh;
  width: 100%;
  /* border-radius:20px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  /*LandingPage안에 있는 컴포넌트들을 안에 자연스럽게 집어넣기 위한 overflow */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /*각각의 컴포넌트들의 간격 지정*/
  gap: 0.5vh;
}

/* MyPage.module.css */
.ColorPickerModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1000;
}